
h1 {
    text-align: center;
    width: 100%;
    color: rgb(248, 241, 241);
    font-weight: heavy;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
        Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

label {
    font-size: 0.8em;
    margin-bottom: 0.25em;
    color: #222;
    font-weight: lighter;
}

input::placeholder {
    font-size: 1.2em;
    font-weight: lighter;
    color: rgb(141, 141, 141);
}

input.error {
    border: 1px solid red;
}

.errorMessage {
    color: red;
    font-size: 0.75em;
    display: relative;
}

button {
    background-color: #010f25;
    color: #fff;
    border: 2px solid rgb(37, 37, 37);
    margin-top: 1em;
    padding: 8px 0px;
    font-size: 1em;
    font-weight: lighter;
    letter-spacing: 1px;
    margin-bottom: 0.25em;
}

button:hover {
    color: #033941;
    background-color: rgb(13, 216, 223);
    border: 2px solid #013326;
}

#tms {
    text-align: center;
}